# git repo
.git/

# IDE and editor
.idea/
*.iml
.vscode/

# test
.pytest_cache/
pytest.ini

# de settings
.flake8
.env
pyproject.toml
poetry.lock

# other files
*.md
*.log
root/ssh/id_rsa
run
Procfile
requirements-dev.txt
